@import url('https://fonts.googleapis.com/css?family=Advent+Pro');
body{

}
.axtext{
  font-family: Advent Pro;
}
.axname{
  font-family: Advent Pro;
  font-weight: 700;
  font-size: 1.3em;
  color: white;
}
